{% extends 'base.html' %}

{% load static %}


{% block header %}Enter new password{% endblock %}

{% block content %}
<div class='row'>
      <div class="col-lg-12">
        <div class="col-md-6">
          <div class="panel panel-primary">
            <div class="panel-heading">Set a New Password!  </div>
            <div class="panel-body">
            {% load bootstrap4 %}
            {% bootstrap_javascript jquery='full' %}
            {{ form.media }}          
                <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                {% bootstrap_button "Change my password" button_type="submit" button_class="btn-primary"%}
             
              </form>	  
            </div>
          </div>  
        </div>  
      </div>      
    </div><!--/.row--> 
{% endblock %}