{% extends "base.html" %}
{% load static %}



{% block content %}

<div class='row'>
      <div class="col-lg-12">
        <div class="col-md-6">
          <div class="panel panel-primary">
            <div class="panel-heading">Forgot Your Password?  </div>
            <div class="panel-body">
            <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
            {% load bootstrap4 %}
            {% bootstrap_javascript jquery='full' %}
            {{ form.media }}          
                 <form method="post">
                  {% csrf_token %}
                  {% bootstrap_form form %}
                  {% bootstrap_button "Send me instructions!" button_type="submit" button_class="btn-primary"%}
               </form>	  
            </div>
          </div>  
        </div>  
      </div>      
    </div><!--/.row--> 
{% endblock %}