{% extends 'base.html' %}

{% load static %}


{% block header %}
Password Reset Complete
{% endblock header %}

{% block content %}
<div class='row'>
      <div class="col-lg-12">
        <div class="col-md-6">
          <div class="panel panel-primary">
            <div class="panel-body">
            <p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}">log in page</a>.</p>
            </div>
          </div>  
        </div>  
      </div>      
    </div><!--/.row--> 

{% endblock %}