{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block breadcrumb %}
<li>Service</li>
<li class="active">All</li>
{% endblock breadcrumb %}

{% block header %}
Vehicle Service
{% endblock header %}


{% block content %}

	<div class="row">
  <div class="col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">All Service Records</div>
      <div class="panel-body">
        <table class='table'>
          <tr>
            <th scope="col">Vehicle</th>
            <th scope="col">Date</th>
            <th scope="col">Servicer</th>
            <th scope="col">Description</th>
            <th scope="col">Cost</th>
          </tr>
          {% for servicerecord in object_list  %}
          {% if servicerecord.is_completed %}
          <tr>
            <td scope="row"><a href="{% url 'service:record_detail' pk=servicerecord.pk %}">{{servicerecord.vehicle.name}}</a></td>
            <td>{{servicerecord.date}}</td>
            <td>{{servicerecord.servicer}}</td>
            <td>{{servicerecord.description | slice:'50'}}</td>
            <td>${{servicerecord.cost | intcomma}}</td>
          </tr>
          {% endif %}
          {% empty %}
              <li>No entries yet</li>
          {% endfor %}
          
        </table>
      </div>
    </div>
    </div>
   </div> 




{% endblock content %}
