{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block breadcrumb %}
<li><a href="{% url 'service:service_list' %}">Service</a></li> 
<li class="active">New Service</li>
{% endblock breadcrumb %}

{% block content %}

    <div class='row'>
      <div class="col-lg-12">
        <div class="col-md-6">
          <div class="panel panel-primary">
          {% if 'schedule' in request.path %}
            <div class="panel-heading">Schedule New Service</div>
          {% else %}
            <div class="panel-heading">Create Service Record</div>
          {% endif %}
            <div class="panel-body">
            {% load bootstrap4 %}
            {% bootstrap_javascript jquery='full' %}
            {{ form.media }}          
                <form method="post">
                  {% csrf_token %}
                  {% bootstrap_form form %}
                  {% bootstrap_button "Save" button_type="submit" button_class="btn-primary"%}
                </form>	  
            </div>
          </div>  
        </div>  
      </div>      
    </div><!--/.row--> 


{% endblock content %}
