{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block breadcrumb %}
<li><a href="{% url 'service:service_list' %}">Service</a></li>
<li class="active">{{vehicle.name}}</li>
{% endblock breadcrumb %}

{% block header %}
{{vehicle.name}}
{% endblock header %}


{% block content %}

	<div class="row">
  <div class="col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">All Service Records
      </div>
    <table class='table'>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Servicer</th>
            <th scope="col">Description</th>
            <th scope="col">Cost</th>
          </tr>
          {% for servicerecord in all_serv  %}
          {% if servicerecord.is_completed %}
          <tr>
            <td><a href="{% url 'service:record_detail' pk=servicerecord.pk %}">{{servicerecord.date}}</a></td>
            <td>{{servicerecord.servicer}}</td>
            <td>{{servicerecord.description | slice:'50'}}</td>
            <td>${{servicerecord.cost |intcomma}}</td>
          </tr>
          {% endif %}
          {% empty %}
              <li>No entries yet</li>
          {% endfor %}
          
        </table>
        {% if is_paginated %}
        <ul class="pagination">
          {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
          {% else %}
            <li class="disabled"><span>&laquo;</span></li>
          {% endif %}
          {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
              <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
              <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
          {% else %}
            <li class="disabled"><span>&raquo;</span></li>
          {% endif %}
        </ul>
      {% endif %}
      </div>
    </div>
    </div>




{% endblock content %}
