{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load template_filters %}

{% block breadcrumb %}
<li><a href='{% url "accounts:user_list" %}'>Users</a></li>
<li class="active">Details</li>
{% endblock breadcrumb %}

{% block header %}
User Details
{% endblock header %}

{% block content %}
	<div class="row">
			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">{{user.get_full_name}}</div>
          <div class="panel-body">
          <h5><strong>Username :</strong> {{ user.username }}</h5>
          <h5><strong>Email :</strong> {{user.email |urlize }}</h5>
          <a class="btn btn-warning" href="{% url 'accounts:update_current_user'%}">Update</a>
					</div>
				</div>
			</div>
    </div><!-- /.row -->

{% endblock content %}
