{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load template_filters %}

{% block breadcrumb %}
<li><a href='{% url "accounts:user_list" %}'>Users</a></li>
<li class="active">Details</li>
{% endblock breadcrumb %}

{% block header %}
User Details
{% endblock header %}

{% block content %}
 {% if request.user.is_staff %}
	<div class="row">
			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">{{user.get_full_name}}</div>
          <div class="panel-body">
          <h5><strong>Username :</strong> {{ user.username }}</h5>
          <h5><strong>Email :</strong> {{user.email |urlize }}</h5>
          <h5><strong>Phone Number :</strong> {{user.userprofile.phone_number|phone_number}}</h5>
          <h5><strong>Last Login :</strong> {{user.last_login}}</h5>
          <h5><strong>Date Created :</strong> {{user.date_joined}}</h5>
          <h5><strong>Active : </strong>
          {% if user.is_active == True %}
          Yes
          {% else %}
          No
          {% endif %}
          </h5>
          <h5><strong>Manager : </strong>
          {% if user.is_staff == True %}
          Yes
          {% else %}
          No
          {% endif %}
          </h5>
          <a class="btn btn-warning" href="{% url 'accounts:update_user' pk=user.pk %}">Update</a>
          {% else %}
          <h5>You do not have permission to access this page.</h5>
          {% endif %}
					</div>
				</div>
			</div>
    </div><!-- /.row -->

{% endblock content %}
