{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load template_filters %}

{% block breadcrumb %}
<li class="active">Account</li>
{% endblock breadcrumb %}

{% block header %}
Account Details
{% endblock header %}

{% block content %}
 {% if request.user.is_staff %}
	<div class="row">
			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">Billing Information</div>
          <div class="panel-body">
          <br>
          {% if request.tenant.on_trial == True %}
          <h5> ENJOY YOUR TRIAL </h5>
          {% else %}
          <h5><strong>Paid Until :</strong> {{ request.tenant.billing.get_next_billing_date }}</h5>
          <h5><strong>Date Joined :</strong> {{ request.tenant.billing.get_created_date }}</h5>
          <br> 
          <h5><strong>Card on File :</strong> {{ request.tenant.billing.get_card.brand }} ending in {{ request.tenant.billing.get_card.last4 }}</h5>
          <h5><strong>Cardholder Name :</strong> {{ request.tenant.billing.get_card.name }}</h5>
          <h5><strong>Email :</strong> {{ request.tenant.billing.get_account_email }}</h5>
          <h5><strong>Billing Address :</strong> {{ request.tenant.billing.get_card.address_line1 }}
          {% if request.tenant.billing.get_card.address_line2 %}
          , {{ request.tenant.billing.get_card.address_line2 }}
          {% endif %}
          <p style="margin-left: 120px">               
          {{ request.tenant.billing.get_card.address_city}}, {{ request.tenant.billing.get_card.address_state }} {{ request.tenant.billing.get_card.address_zip }}</p>
          </h5>
          
          {% endif %}
          
          <br>
          <div class="row">
          {% if not request.tenant.subscription_expired  %}
          <form action="{% url 'client:card_update' %}" method="post">
          {% csrf_token %}
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="{{stripe_key}}"
              data-billing-address=True
              data-allow-remember-me=False
              data-email='{{request.tenant.billing.email}}'
              data-label='Update Card'
              data-panel-label='Update'
              data-locale="auto">
            </script>
          </form>
          <a class="btn btn-danger" href="{% url 'client:subscription_cancel_confirm' %}">Cancel Subscription</a>
          {% else %}
          <form action="{% url 'client:subscribe' %}" method="post">
          {% csrf_token %}
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="{{stripe_key}}"
              data-billing-address=True
              data-allow-remember-me=False
              data-label='Sign up!'
              data-panel-label='Submit'
              data-locale="auto">
            </script>
          </form>
          </div>
          {% endif %}
          {% else %}
          <h5>You do not have permission to access this page.</h5>
          {% endif %}
          

            
    
        	</div>
				</div>
			</div>
    </div><!-- /.row -->

{% endblock content %}
