{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css.map'%}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <script src="https://kit.fontawesome.com/c47990e7cb.js"></script>
    <script src="{% static 'js/awesome_django_timezones.js' %}"></script>

    <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/1.3.4/jquery.fancybox-1.3.4.css" /> 
	  <!--Custom Font-->
	  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <title>Easy Fleet View</title>
  </head>
  <body>
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span></button>
				<a class="navbar-brand" href="{% url 'dashboard' %}"><span>Easy</span>FleetView</a>
        {% if user.is_authenticated and request.tenant.billing.subscription_active %}

			</div>
		</div><!-- /.container-fluid -->
	</nav>
		<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">

			<ul class="nav menu">
        {% if '/' == request.path %}
				<li class="active"><a href="{% url 'dashboard' %}"><em class="fa fa-dashboard">&nbsp;</em> Dashboard</a></li>
        {% else %}
        <li><a href="{% url 'dashboard' %}"><em class="fa fa-dashboard">&nbsp;</em> Dashboard</a></li>
        {% endif %}
        {% if 'vehicles' in request.path and 'damage' not in request.path %}
        <li class="active"><a href="{% url 'vehicles:vehicle_list' %}"><em class="fa fa-truck">&nbsp;</em> Vehicles</a></li>
        {% else %}
        <li><a href="{% url 'vehicles:vehicle_list' %}"><em class="fa fa-truck">&nbsp;</em> Vehicles</a></li>
        {% endif %}
        {% if 'fuel' in request.path %}
        <li class="active"><a href="{% url 'fuellog:entry_list' %}"><em class="fa fa-gas-pump">&nbsp;</em> Fuel Log</a></li>
        {% else %}
        <li><a href="{% url 'fuellog:entry_list' %}"><em class="fa fa-gas-pump">&nbsp;</em> Fuel Log</a></li>
        {% endif %}
				{% if 'service' in request.path %}
				<li class="active"><a href="{% url 'service:service_list' %}"><em class="fa fa-wrench">&nbsp;</em> Service</a></li>
        {% else %}
        <li><a href="{% url 'service:service_list' %}"><em class="fa fa-wrench">&nbsp;</em> Service</a></li>
        {% endif %}
        {% if 'damage' in request.path %}
        <li class='active'><a href="{% url 'vehicles:damage_list' %}"><em class="fa fa-car-crash">&nbsp;</em> Damage Reports</a></li>
        {% else %}
				<li><a href="{% url 'vehicles:damage_list' %}"><em class="fa fa-car-crash">&nbsp;</em> Damage Reports</a></li>
        {% endif %}
        {% if 'profile' in request.path or 'password' in request.path and 'users' not in request.path %}
        <li class="parent active"><a data-toggle="collapse" href="#sub-item-1">
        <em class="far fa-user">&nbsp;</em> Profile <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"></span>
					</a>
        	<ul class="children collapse" id="sub-item-1">
						<li><a class="" href="{% url 'accounts:user_detail' pk=request.user.pk %}">
							<span class="far fa-id-card">&nbsp;</span> Update Profile
						</a></li>
						<li><a class="" href="{% url 'accounts:password_change' %}">
							<span class="fas fa-key">&nbsp;</span> Change Password
						</a></li>
					</ul>
				</li>
        {% else %}
         <li class="parent"><a data-toggle="collapse" href="#sub-item-1">
        <em class="far fa-user">&nbsp;</em> Profile <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"></span>
					</a>
        	<ul class="children collapse" id="sub-item-1">
						<li><a class="" href="{% url 'accounts:current_user_detail' %}">
							<span class="far fa-id-card">&nbsp;</span> Update Profile
						</a></li>
						<li><a class="" href="{% url 'accounts:password_change' %}">
							<span class="fas fa-key">&nbsp;</span> Change Password
						</a></li>
					</ul>
				</li>              
        {% endif %}
        {% if request.user.is_staff == True %}
        {% if 'accounts' in request.path and 'password' not in request.path and 'profile' not in request.path %}
        <li class='active'><a href="{% url 'accounts:user_list' %}"><em class="fas fa-users">&nbsp;</em> Users</a></li>
        {% else %}
        <li><a href="{% url 'accounts:user_list' %}"><em class="fas fa-users">&nbsp;</em> Users</a></li>
        {% endif %}
        {% endif %}
        {% if request.user.is_staff == True %}
        {% if 'client' in request.path %}
        <li class='active'><a href="{% url 'client:client_details' %}"><em class="fa fa-users-cog">&nbsp;</em>Account Info</a></li>
        {% else %}
        <li><a href="{% url 'client:client_details' %}"><em class="fa fa-users-cog">&nbsp;</em>Account Info</a></li>
        {% endif %}
        {% endif %}
				<li><a href="{% url 'accounts:logout' %}"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
			</ul>
		</div><!--/.sidebar-->

    {%endif%}
    <div class="col-sm-12 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
  		<div class="row">
			<ol class="breadcrumb">
				<li><a href="{% url 'dashboard' %}">
					<em class="fa fa-home"></em>
				</a></li>
    {% block breadcrumb %}
    {% endblock breadcrumb %}
      </ol>
		</div><!--/.row-->
    <div class="row">
			<div class="col-lg-12">
      <h1 class="pager-header">
    {% block header %}{% endblock header %} </h1> </div>
    </div>

    {% if user.is_authenticated and request.tenant.billing.subscription_active or request.tenant.on_trial == True %}
    
    
    {% block content %}
    {% endblock content %}

    {% elif user.is_authenticated %}
     <h3>Your account is not currently active. This could be because your trial has ended or there is an issue with your payment method. Your data has not been lost. Please use this button to subscribe.</h3>
     <h5>If page does not reload after 30 seconds after payment, please click <a href="{% url 'dashboard' %}">here</a></h5>
     {% if request.tenant.billing %}
      <form action="{% url 'client:card_update' %}" method="post">
      {% csrf_token %}
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="{{stripe_key}}"
          data-billing-address=True
          data-allow-remember-me=False
          data-email='{{request.tenant.billing.email}}'
          data-label='Update Card'
          data-panel-label='Update'
          data-locale="auto">
        </script>
      </form>
    {% else %}
      <form action="{% url 'client:subscribe' %}" method="post">
      {% csrf_token %}
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="{{stripe_key}}"
          data-billing-address=True
          data-allow-remember-me=False
          data-label='Subscribe'
          data-panel-label='Submit'
          data-locale="auto">
        </script>
      </form>
    {% endif %}

    {%else%}
    {% block login %}
    {% endblock login %}
    {% endif %}

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
      <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/1.3.4/jquery.fancybox-1.3.4.pack.min.js"></script>
      <script type="text/javascript">
          $(function($){
              var addToAll = false;
              var gallery = true;
              var titlePosition = 'inside';
              $(addToAll ? 'img' : 'img.fancybox').each(function(){
                  var $this = $(this);
                  var title = $this.attr('title');
                  var src = $this.attr('data-big') || $this.attr('src');
                  var a = $('<a href="#" class="fancybox"></a>').attr('href', src).attr('title', title);
                  $this.wrap(a);
              });
              if (gallery)
                  $('a.fancybox').attr('rel', 'fancyboxgallery');
              $('a.fancybox').fancybox({
                  titlePosition: titlePosition
              });
          });
          $.noConflict();
    </script>
    <script src="{% static 'js/jquery-1.11.1.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/chart.min.js'%}"></script>
    <script src="{% static 'js/chart-data.js'%}"></script>
    <script src="{% static 'js/easypiechart.js'%}"></script>
    <script src="{% static 'js/easypiechart-data.js'%}"></script>
    <script src="{% static 'js/bootstrap-datepicker.js'%}"></script>
    <script src="{% static 'js/custom.js'%}"></script>
  </body>
</html>
